	<ion-view view-title="Dashboard" hide-nav-bar="true" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll header-shrink="true" scroll-event-interval="5"   id="page-dashboard" class=" page-dashboard">
		<div style="height:44px;"></div>
				<div class="dashboard-panel">
          <div class="text-center">
    <img class="" ng-src="data/images/header/logo2.png" width="30%" hight="auto" />
    <h2 style="color:rgba(221,79,11,0.97)">SOS Hogar</h2>

          </div>	
          
         <div class="text-center">
           <p>Servicios de Asistencia en su hogar o empresa.<br />
Profesionales verificados. <br />
Garantía en los trabajos.</p>
           <p>REPARACIÓN – MANTENIMIENTO<br />CONSTRUCCIÓN</p>

           
          </div><br />

		
                                                                
 <div class="text-center">

 <a run-webview href="http://app.soshogar.com.uy/"><button class="item item-icon-center">
								<i class="icon ion-android-walk" ></i>
								<h2>Entrar</h2>
								
							
   
   
		</ion-content>
		<!-- ./content -->
	</ion-view>
